<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../css/main.css">
</head>


<body>



  <div class="header">
    <img src="../images/logo.png" class="logo">

    <div>
      <p class="right-text">수강 신청</p>
    </div>
  </div>


  <div class="banner-box">
    <img src="../images/banner/banner.png" alt="" class="banner">
  </div>

  <div class="tow-box-first">

    <div class="tow-box-first-in-left">
    <!-- 카카오맵 -->  
     <div class="kakao-map-box">
      <div class="kakao-map">

      </div>
     </div>

     <!-- 지도 클릭 요소 -->
     <div class="kakao-map-click">
      <div class="click-object">
        
      </div>
      <div class="click-object">
        
      </div>
      <div class="click-object">
        
      </div>

     </div>

    </div>

    <!-- 대표 작은 사진 1 -->
    <div class="tow-box-first-in-right">
      <img src="images/img-1.png" alt="" class="img-1">
    </div>
  </div>
  

  <div class="tow-box">
    <div class="student-text-box">

    </div>
    <div class="student-text-box">

    </div>
    <div class="student-text-box">

    </div>
    <div class="student-text-box">

    </div>
  </div>
  
  
  <div class="tow-box-second">
    <div class="tow-box-second-in-left">
      <img src="../images/img-2.png" alt="" class="img-2">
    </div>
    <div class="tow-box-second-in-right">
      <div class="online-box">
        <div class="online-img-box">
          <img src="../images/onlineImg.png" alt="" class="online-img">
        </div>

        <div class="online-text">
          <p>온라인 수업 신청</p>
        </div>

      </div>
    </div>

  </div>
  
  <div class="second-box">
    <div class="video-box">
      <video src="../images/studentVideo.mp4" autoplay muted loop class="video">
      </video>
    </div>
  </div>
  

  <footer class="footer">

  </footer>
  
  
  

  <script>
  </script>
</body>


</html>