<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>subPage</title>
  <link rel="stylesheet" href="../css/subPage.css">
</head>





<body>


  <div class="box">
    <div class="box-header">
      <img src="../images/logo.png">
      <p>상담 예약하기</p>
    </div>

    <div class="box-body">



      <div>
        <p>이메일</p>
        <input type="text" textarea="이메일" class="email input">
      </div>

      
      
    </div>

  </div>


  
</body>




</html>